Pivot Tables and Crosstabs

groupby --> great for aggregations but results in a series or a long DataFrame
pivot_table --> reshapes the data into a matrix from

In [1]:
import pandas as pd

data = {
    "Name": ["Amit", "Bina", "Chetan", "Divya", "Esha", "Farhan"],
    "City": ["Delhi", "Mumbai", "Delhi", "Delhi", "Mumbai", "Delhi"],
    "Subject": ["Math", "Math", "English", "Math", "English", "English"],
    "Score": [85, 92, 88, 76, 78, 95]
}
df = pd.DataFrame(data)
print(df)

     Name    City  Subject  Score
0    Amit   Delhi     Math     85
1    Bina  Mumbai     Math     92
2  Chetan   Delhi  English     88
3   Divya   Delhi     Math     76
4    Esha  Mumbai  English     78
5  Farhan   Delhi  English     95

In [2]:
# Task 1: Find the average score of each subject in each city.

In [3]:
# Using groupby
df.groupby(["City","Subject"])["Score"].mean()pd

City    Subject
Delhi   English    91.5
        Math       80.5
Mumbai  English    78.0
        Math       92.0
Name: Score, dtype: float64

In [5]:
#Using pivot Table
pd.pivot_table(df, index="City", columns= "Subject", values="Score", aggfunc="mean")

Subject  English  Math
City
Delhi       91.5  80.5
Mumbai      78.0  92.0

In [7]:
pivot = pd.pivot_table(
    df,
    index="City",
    columns="Subject",
    values="Score",
    aggfunc="mean"
)

pivot = pivot.reset_index()     # moves City back as a column
pivot.columns.name = None       # removes that extra "Score" label
pivot

     City  English  Math
0   Delhi     91.5  80.5
1  Mumbai     78.0  92.0